<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dashboard - Voler Admin Dashboard</title>

@*<link rel="stylesheet" src="~/admin/assets/css/bootstrap.css">*@
<link href="~/admin/assets/css/bootstrap.css" rel="stylesheet" />

@*<link rel="stylesheet" src="~/admin/assets/vendors/chartjs/Chart.min.css">*@
<link href="~/admin/assets/vendors/chartjs/Chart.min.css" rel="stylesheet" />

@*<link rel="stylesheet" src="~/admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">*@
<link href="~/admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
@*<link rel="stylesheet" src="~/admin/assets/css/app.css">*@
<link href="~/admin/assets/css/app.css" rel="stylesheet" />
@*<link rel="shortcut icon" src="~/admin/assets/images/favicon.svg" type="image/x-icon">*@  
<link href="~/admin/assets/images/favicon.svg" rel="shortcut icon" type="image/x-icon"/>
