<title>magExpress</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="~/lib/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/css/animate.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/css/slick.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/css/theme.css">
<link rel="stylesheet" type="text/css" href="~/lib/assets/css/style.css">